@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
@import "./styles/_normalize";
@import "./styles/_color";
@import "./styles/_font";
@import "./styles/partials/_form";


.dash-body {
    background-color: white;
}

  
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.budget-container{
    display: flex;
    justify-content: space-around;

}

.yay{
    background-color: rgb(143, 245, 143);
}
.noo-msg , .yay-msg {
    display: none;
}
.noo > div > .noo-msg {
    display:block !important;
}
.yay > div > .yay-msg {
    display: block !important;
}
.noo{
    background: rgb(255, 146, 146)
}