<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your collection</title>
</head>
<body class="mt-5">
    <div class="all-collection-collector">
        <div class="first-tier-container">
            <div class="first-tier-card">
                <div class="first-tier-avatar">
                    <!--IMAGE HERE -->
                </div>
                <div class="first-tier-description">
                    <p>I AMMMMM HERE!!</p>
                </div>


            </div>
        </div>




    </div>
    
</body>
</html>