<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congrats</title>
  </head>
  <body>
    <div class="bigNumPoints">
      <p>You have</p>
      <img style="width: 20rem; height:auto" src="https://images.unsplash.com/photo-1577975629051-47d899da5640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
      <h1>110 Eggs</h1>
    </div>
    <div class="rewards-container">
      <h3>Collect your Rewards! </h3>
        <div class="cineplex-container">
          <h4>Cineplex Theatres</h4>
          <p>Movie Ticket - 250 Eggs</p>
        </div>
        <div class="uniqlo-container">
          <h4>Uniqlo</h4>
          <p>$15 Gift Card - 350 Eggs</p>
        </div>
    </div>
  </body>
</html>
