<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- <h3>Hello<input type="hidden" name="displayName" value="">!</h3> -->
  </head>
<body>
<li class="list">Hi <%= username %></li>
<div class="GoalForm">
<form id ="" class="" action="index.html" method="post">

<!-- Deposit form button -->
  <form id = "" class="" action="index.html" method="post">
  <button id="" type="button" name="deposit">Deposit</button>
  </form>
<!-- Withdraw form button -->
  <form id = "" class="" action="withdraw.ejs" method="post">
  <button id= "" type="button" name="">Withdraw</button></br>
</form>

<!-- Account -->
  Account<input id = "" type="hidden" name="displayAccount" value="" ></br>
  <li class="list">Your current balance: $<%= balance %></li>
<!-- Goal -->
  Goal<input id = "" type="hidden" name="displayGoal" value="">

</form>
  </div>

  </body>
</html>
