<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Welcome</title>
</head>
<body>
    <header>
        <h1>DINO$</h1>
    </header>
    <form id="" class="" method="POST" action="/">
        How should we call you? <input class="" name="name" type="text" placeholder="Name">
        Birthday <input class="" name="birthday" type="date" placeholder="MM/DD">
        <!-- Starting point <input class="" name="startingPoint" type="text" placeholder="Amount"> -->
        How much is it?<input class="" name="cost" type="text" placeholder="Goal Amount">
        What's it for?<input class="" name="goal" type="text" placeholder="What is it?">
        When to start?<input class="" name="startDate" type="text" placeholder="Start Date">
        Target Goal: <input class="" name="endDate" type="text" placeholder="Target Date">
        <button class="" type="submit">Let's get started!</button>
    </form>
    <footer>
    </footer>
</body>

</html>