<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Welcome</title>
  </head>
  <body class="landing">
    <!-- container for sign-in -->

     <div class="form-container__wrapper">
        <!-- form on leftside -->
        <div class="form__left">
          <header>
            <h1 class="form__font--header">DINO$</h1>
          </header>
  
          <p>Lets Get Started!</p>
  
          <form id="" class="" method="GET" action="/dashboard">
            <label class="form__label">How should we call you?</label>
            <!-- <i class="material-icons">&#xE87C;</i> -->
            <input
              class="form__input"
              name="name"
              type="text"
              placeholder="Name"
            ></input>
  
            <label class="form__label">Birthday</label>
            <input class="form__input" name="birthday" type="date" placeholder="MM/DD" />
  
            <!-- <label class="form__label">Starting point</label>
            <input class="form__input" name="startingPoint" type="text" placeholder="Amount" /> -->
  
            <label class="form__label">How much is it?</label>
            <input
              class="form__input"
              name="cost"
              type="text"
              placeholder="Goal Amount"
            />
  
            <label class="form__label">What's it for?</label>
            <input class="form__input" name="goal" type="text" placeholder="Goal" />

  
            <label class="form__label">How much can you put in once a month?</label>
            <input
              class="form__input"
              name="depositAmount"
              type="text"
              placeholder="$$$"
            />

            <label class="form__label">How much do you have?</label>
            <input
              class="form__input"
              name="currentBalance"
              type="text"
              placeholder="$$$$"
            />


            <label class="form__label">Do you have consent from your legal guardians to use this app?</label>
            <input
              type="checkbox"
              value="Yes"
            />Yes
            <input
              type="checkbox"
              value="No"
            />No
 
            <button class="form__btn" type="submit">Let's get started!</button>
          </form>
        </div>
  
        <!-- end of form //right-side image -->
  
        <div class="form__right"></div>
  
        <!--end of image -->
      </div>
    </div>
    <footer></footer>
  </body>
</html>
