body,
.landing {
  background: $darkgreen;
  font-family: "Cabin", sans-serif;
}

.form-container {
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 80vw;
    // height: 80vh;
    margin: 10% auto;
    background: white;
    border-radius: 12px;
    box-shadow: 1px 5px 5px black;
  }
}

.form {
  &__left {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    margin: 2% auto;
  }

  &__right {
    width: 50%;
    background-image: url("../../assets/photo/piggybank.png");
    background-size: cover;
    background-position: center;
  }

  &__font {
    &--header {
      margin: 0;
    }
  }

  &__label {
    margin: 5px 0;
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0.5em;
    border: 2px solid $lightgreen;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    align-self: center;
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    background-color: $lightgreen;
    margin: 20px 0;
  }
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
}
